<app-header></app-header>

<div class="container">

    <h2 class="text-center">Agregar Curso </h2> <br> <br>

    <div class="submit-form">
        <div *ngIf="!submitted">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-3"> 
                    <label for="title">ID Curso </label>
                    <input type="number" class="form-control" id="idcurso" required [(ngModel)]="curso.id" name="id"
                        requiered placeholder="Ingrese Aquí" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mt-3">
                        <label for="title">Nombre</label>
                        <input type="text" class="form-control" id="title" required [(ngModel)]="curso.nombre"
                            name="title" requiered placeholder="Curso...." />
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-3">
                        <label for="Tematica">Seleccionar Tema:</label>
                        <select [(ngModel)]="curso.tema!.id" class="form-control" placeholder="Elegir Tema">
                            <option *ngFor="let tema of temas" [value]="curso.tema!.id">{{tema.nombre}} </option>
                        </select>
                    </div>
                </div>




            </div>



            <div class="col-md-6">
                <div class="form-group mt -3">
                    <label for="title">ID Docente</label>
                    <input type="number" class="form-control" id="idDocente" required [(ngModel)]="curso.idDocente"
                        name="idDocente" />
                </div>
            </div>



            <br>

            <div class="form-group mt -3">
                <label for="content">Fecha inicio</label>
                <input type="datetime-local" class="form-control" id="meeting-time" required [(ngModel)]="curso.fechaInicio"
                    name="content" min="2023-10-18" />
            </div>



            <br>
            <div class="text-center">
                <button (click)="saveCurso()" class="btn btn-success">Agregar</button>
                <button type="submit" class="btn btn-secondary ms-2" (click)="salir()"> Volver </button>
            </div>
        </div>
        <div *ngIf="submitted">
            <h4>Curso Agregado Correctamente!</h4>
            <button class="btn btn-success" (click)="newCurso()">Agregar</button>
            <button type="submit" class="btn btn-secondary ms-2" (click)="salir()"> Volver </button>
        </div>
    </div>



</div>