<app-header></app-header>

<div class="container">

    <h2 class="text-center">Listado de Materiales</h2><br>

    <div class="header-container"> 
      <button type="btn-nuevo-material" class="btn btn-primary" (click)="nuevoMaterial()">Nuevo Material</button> <br><br>
    
      <div class="busqueda-container">
  
        <div class="filtro">
            <select class="seleccionar ms-2" [(ngModel)]="tipoBusqueda">
                <option value="nombre">Por Nombre</option>
                <option value="curso">Por ID de Curso</option>
            </select>
        </div>
    
        <div class="input-y-boton">
            <input type="text" [(ngModel)]="terminoBusqueda" placeholder="Buscar material">
            <button class="btn-buscar" (click)="buscarMaterial()">Buscar</button>
        </div>
    </div>

   
  
  </div>
  
    
  <br><br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Costo</th>
            <th scope="col">IdCurso</th>
            <th scope="col">Stock</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of  materiales" (click)="editarMaterial(material.id)">
            <th scope="row">{{material.id}}</th>
            <td>{{material.titulo}}</td>
            <td>{{material.costo}}</td>
            <td>{{material.idCurso}}</td>
            <td>{{material.stock}}</td>
          </tr>
          
          
        </tbody>
    </table>

</div>

<app-footer></app-footer>
