<app-header></app-header>

<div class="container">
    <h2 class="text-center">Editar Alumno</h2><br>

    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
        <div class="col-md-6">
            <div class="form-group mt-3">
                <label for="title">Id Alumno</label>
                <input type="number" class="form-control" id="idcurso" formControlName="id" name="id" required>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mt-3">
                <label for="title">Nombre del Alumno</label>
                <input type="text" class="form-control" id="title" formControlName="nombre" name="title">
            </div>
        </div>

        <div class="form-group col-md-6 mt-3">
            <label for="fechaInicio">Fecha de Nacimiento:</label>
            <input type="date" class="form-control" id="fechaInicio" formControlName="fechaNacimiento" >
        </div>

        <br><br>
        <button type="submit" class="btn btn-success mb-5">Guardar</button>
        <button class="btn btn-secondary ms-2 mb-5" (click)="salir()">Volver</button>
    </form>
</div>





