<div class="header-container">
    <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center" >
  
      <div class="navbar-nav mr-auto justify-content-center">
        <li class="nav-item">
          <a class="navbar-brand custom-margin" routerLink="dashboard">Cursos</a>
        </li>
  
  
        <li class="nav-item">
          <a class="navbar-brand custom-margin" routerLink="alumnos">Alumnos</a>
        </li>
  
  
        <li class="nav-item">
          <a class="navbar-brand custom-margin" routerLink="temas">Temas</a>
        </li>
  
  
        <li class="nav-item">
          <a class="navbar-brand custom-margin" routerLink="materiales">Materiales</a>
        </li>
      </div>
  
  
  
  
  
    </nav> 
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <br><br>





