<div class="container">
    <nav class="navbar navbar-dark bg-dark container d-flex justify-content-center">
    
      <a class="navbar-brand custom-margin" href="http://localhost:4200/dashboard">Cursos</a>
      <a class="navbar-brand custom-margin" href="http://localhost:4200/alumnos">Alumnos</a>
      <a class="navbar-brand custom-margin" href="http://localhost:4200/temas">Temas</a>
      <a class="navbar-brand custom-margin" href="http://localhost:4200/materiales">Materiales</a>
    </nav>
  </div>

<br><br>




  

  