/* Para espaciar los elementos más cerca del título y entre sí */
.container {
    padding-top: 0.5px;  /* Espacio en la parte superior */
  }
  
  /* Estilo general para los contenedores de formularios */
  .form-group {
    margin-bottom: 5px;  /* Espacio después de cada contenedor */
  }
  
  /* Estilo para los inputs y select */
  .form-control, select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Estilo para el select para que se parezca a los otros contenedores */
  select {
    width: 100%;
    padding: 10px;
    appearance: none;
    background: white;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }